[submodule "roles/common"]
	path = roles/common
	url = git@github.com:timmd909/izanagi-role-common.git
	branch = master
[submodule "roles/dns-server"]
	path = roles/dns-server
	url = git@github.com:timmd909/izanagi-role-dns-server.git
	branch = master
[submodule "roles/web-server"]
	path = roles/web-server
	url = git@github.com:timmd909/izanagi-role-web-server.git
	branch = master
[submodule "roles/sql-server"]
	path = roles/sql-server
	url = git@github.com:timmd909/izanagi-role-sql-server.git
	branch = master
[submodule "roles/photo-server"]
	path = roles/photo-server
	url = git@github.com:timmd909/izanagi-role-photo-server.git
[submodule "roles/minecraft"]
	path = roles/minecraft
	url = git@github.com:timmd909/izanagi-role-minecraft.git
	branch = master
[submodule "roles/dev-machine"]
	path = roles/dev-machine
	url = git@github.com:timmd909/izanagi-role-dev-machine.git
[submodule "roles/desktop"]
	path = roles/desktop
	url = git@github.com:timmd909/izanagi-role-desktop.git
[submodule "roles/catpoo"]
	path = roles/catpoo
	url = git@github.com:timmd909/izanagi-role-catpoo.git
[submodule "roles/dyndns"]
	path = roles/dyndns
	url = git@github.com:timmd909/izanagi-role-dyndns.git
[submodule "roles/plex-server"]
	path = roles/plex-server
	url = git@github.com:timmd909/izanagi-role-plex-server.git
[submodule "roles/router"]
	path = roles/router
	url = git@github.com:timmd909/izanagi-role-router.git
[submodule "roles/puck"]
	path = roles/puck
	url = git@github.com:timmd909/izanagi-role-puck.git
[submodule "roles/samba-server"]
	path = roles/samba-server
	url = git@github.com:timmd909/izanagi-role-samba-server.git
[submodule "roles/time-machine"]
	path = roles/time-machine
	url = git@github.com:timmd909/izanagi-role-time-machine.git
[submodule "roles/3d"]
	path = roles/3d
	url = git@github.com:timmd909/izanagi-role-3d.git
[submodule "roles/sync-server"]
	path = roles/sync-server
	url = git@github.com:timmd909/izanagi-role-sync-server.git
[submodule "roles/motion-server"]
	path = roles/motion-server
	url = git@github.com:timmd909/izanagi-role-motion-server.git
