[webservers]
# hostorip   HOSTNAME=hostname

[photoservers]
# hostorip   HOSTNAME=hostname

[sqlservers]
# hostorip   HOSTNAME=hostname

[timemachines]
# hostorip   HOSTNAME=hostname

[catpoos]
# hostorip   HOSTNAME=hostname
