---

# Playbook for Vagrant. Based off of site.yml but with EVERYTHING enabled.
#
# INSTALL ALL THE THINGS!
#
#
#                   ~=                                                 M?              ,=~
#                    ==                                                MD           ~=~=~
#                    ====                                               +        :=~===
#                    ~====~                        ~                    M     :~======
#                     ~=====~           ~         ==               ~==  M   ~========
#                      ~====~~~        ,==       ~==            ,====   Z~~=========
#                      =======~=~      ~===,     ===~          =====   ===========~
#                      ,===========:   ~=====   :===~       ,======:===~~=======~~
#                       =~===========  ~======  ~====     ,~===========+========~
#                       ,~=============~=======~===~=~  ~==============M=======~
#                        =============~~======?MNDDM~~==========~======M~=====~
#                         ================M=,,,,,,,,,D~======M   N=====N=====~
#          ==~            =================~N~,,,,,,,:M8MMMNM   O M====~=====
#           ,===~,         ~=================~~MM~          M     M=========
#             ~===~=       :=================~N             OM   M ===?~===
#               ~====~~     ==============M   M     ?M ~   8Z      ~:=N~==:
#     M          ~======~=~  ============M O     ?M +7MMMMMMMI      8=M~==
#    NO:7:        :======================7    M=  MNMMMMMMMMMM       +N==
# MMO:::::?         =======================8M~M ~MMMMMMMMMMMMMM      M+~~                     ,===~
# M,::::::::N        =======================N  MMMMMMMMMMMMMMMM      M~=    :=~~=~         ~=~~==~
# :,:::::::::Z         =====================7    MMMMMMMMMMMMMM      M===~=====~       ,=~~====
# ?:::::::::::M    ==========================M    ~MMMMMMMMMMMM     II========      :~=======
#  ,::::::::::,     ,========================~8     MMMMMMMMMMI     M?M======    =======~==
#  8:::::::::::N      ===~====================+N    MMMMMMMMMM      I?I===~= ~==========~
#    D:::::::::         ======================MM    MMMMMMMMM ,    I???M==~===========
#     N~==OMMZZ7         :================~+M===M    8::~,  =N    M????D============~
#            OZZM     ~===============~==M~~=====M               O??????===========
#            ,MZZM=~==================OO=~========M~           DD???????M========~
#             ~MZZZ?===============MM=~===========~7?NMMZZNNM7?I????????7~======
#     ~~~~,     :ZZZM============N+================N?????????????????????O====~=~~~~~~===~~:,
#      =========~,MOZM~=======NN====================M????????????????????N==========================,
#       ===========MZZO=~===M~=~====================~?????????????????????~========================~=~
#        ~~=========?ZZZNN8==========================MI???????????????????M=====================~~
#        =============NMZM============================????????????????????O=================~
#         ===========~~MZZO~==========================M????????????????????============~,
#          =============OZZZN=========================M????????????????????~========,
#           ~============~MZZM~~======================8????????????????????~=====
#            ~============~MZZM======================~?????????????????????~~===


- name: Python workaround for 16.04 images
  hosts: all
  become: true
  become_user: root
  # Disable gathering of facts until we're sure that python is installed
  gather_facts: False
  pre_tasks:
    - name: Install Python for Ansible's use
      raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
      register: output
      changed_when: output.stdout != ""

    - setup: # Now do the `gather_facts` step

# Python should be installed at this point. Carry on usual.

- name: Vagrant Box setup
  hosts: all
  roles:
    - 3d
    - desktop
    - dev-machine
    - router
    - sql-server
    - web-server
